/target
/grind
/deploy

/test-ledger
/db_spoolstore
/db_spoolstore_read
/db_spoolstore_read_mine
/db_spoolstore_read_web

*/**/db_spoolstore
*/**/db_spoolstore_read
*/**/db_spoolstore_read_mine
*/**/db_spoolstore_read_web
/*.json

.DS_Store
*/**/.DS_Store

.vscode